body {
    background-color: rgb(182, 221, 208);
    margin-left: 20px;
}

h1 {
    color: blue;

    font-style: italic;

}

h2 {
    color: brown;
}

p {
    color: green;
}

.text {
    padding-left: 400px;
}

