body {
    background-color: rgb(182, 221, 208);
    margin-left: 20px;
}

h1 {
    color: blue;

    word-spacing: 2px;

    

}

h2 {
    color: brown;

    word-spacing: 2px;
}

p {
    color: green;

    line-height: 30px;

    letter-spacing: 0.05em;

    word-spacing: 2px;

    margin-bottom: 40px;
}

.text {
    padding-left: 400px;
}

